@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

:root {
    --background: #ddd;
    --text:#222;
    --nav:#222;
    --text_nav:#ddd
  }

#app {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', Helvetica, sans-serif !important;
  position: absolute;;
  top:0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;

}
.edit{
  position: relative;
  justify-content: flex-end;
  display: flex;
  margin: 3px;
}
.edit> .btn{
  margin: 1px;
}
.imgBid{
  max-width: 5rem;
  height: auto;
}