.muestra{
    background-color: red;
    min-width: 30px;
    min-height: 30px;
}
.error {
    background-color: #f55;
    font-size: 1rem;
    width: fit-content;
}
.errorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    font-size: 1em;
    height:88.6%;
    max-height:88.6%;
    overflow-y:auto;
}
.row{
    margin: 0 !important;
    padding: 0 !important
}
.container{

    padding: 0 !important
}